*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Mono', monospace;
}

td {
    display: inline-block;
    width: 90px;
    max-width: 100px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.6rem;
    cursor: default;
}