.app {
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
}

.hidden-view {
    visibility: hidden;
    height: 0;
}

.main {
    padding: 0 20px;
}