.content {
    padding: 80px 0 40px;
    &__container {
        padding: 20px 0 0;
        display: flex;
    }
    &__settings-container {
        flex: 0 0 250px;
        padding: 0 15px;
        & > div {
            margin-bottom: 20px;
        }
    }
    &__products-container {
        flex: 1 1 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        grid-gap: 25px;
        justify-content: center;
        padding: 0 15px;
    }
    &__filter-button-container {
        display: none;
        padding: 20px 0 0;
    }
    &__filter-button {
        width: 100%;
    }
}

@media screen and (max-width: 1180px) {
    .content {
        &__settings-container {
            position: fixed;
            top: 0;
            left: -300px;
            bottom: 0;
            width: 300px;
            background-color: #fff;
            border-right: 1px solid #000;
            transition: left 0.2s ease-in-out;
            padding: 30px 20px;
        }
        &__filter-button-container {
            display: block;
        }
    }
    // open settings menu
    .open {
        left: 0;
    }
}
