.header {
    position: fixed;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);

    &__flex {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        font-family: "PT Sans", sans-serif;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 3px;
        color: rgb(62, 61, 61);
    }
}
