// vars
@import "vars.scss";

// modules
@import "button.scss";
@import "header.scss";
@import "content.scss";
@import "product.scss";
@import "modal.scss";
@import "../../node_modules/nouislider/dist/nouislider.min.css";

// fonts
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

img {
    width: 100%;
    height: 100%;
}

svg {
    cursor: pointer;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #fff;
}

.container {
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    padding: 0 40px;
}

.display-none {
    display: none;
}

@media screen and (max-width: 480px) {
    .container {
        padding: 0 10px;
    }
}
