.form {
    height: 5rem;
    display: flex;
    align-items: center;
}

.text-input {
    margin: 0.2rem;
    height: 4rem;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    border: none;
    outline: none;
    border-bottom: 0.5rem solid #427ae5;
    border-radius: 0.5rem;
    background-color: #e3edf7;
}

.color-input {
    height: 4rem;
    padding: 0.3rem;
    width: 5rem;
    margin: 0 1rem;
    border: none;
    border-bottom: 0.5rem solid #427ae5;
    cursor: pointer;
    border-radius: 0.5rem;
}

/* Active */

.text-input:focus {
    border-bottom: none;
    height: 3.5rem;
    transform: translateY(0.3rem);
}

.color-input:active {
    border-bottom: none;
    height: 3.5rem;
    transform: translateY(0.3rem);
}

/* Disabled */

.text-input:disabled {
    background-color: rgb(255, 255, 255);
    border-bottom: 0.5rem solid #7f848d;
}

.color-input:disabled {
    background-color: rgb(255, 255, 255);
    border-bottom: 0.5rem solid #7f848d;
}

.color-input:disabled:active {
    height: 4rem;
    transform: translateY(0);
}