.button {
    padding: 0 2rem;
    margin: 0.2rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-bottom: 0.5rem solid;
    border-radius: 0.5rem;
}

.green {
    background-color: #e6feb6;
    border-color: #8fcc3c;
}

.blue {
    background-color: #e3edf7;
    border-color: #427ae5;
}

.button:active {
    border-bottom: none;
    height: 3.5rem;
    transform: translateY(0.3rem);
}

.button:disabled {
    background-color: rgb(255, 255, 255);
    border-bottom: 0.5rem solid #7f848d;
}

.button:disabled:active {
    height: 4rem;
    transform: translateY(0);
}